@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";


* {
  font-family: "Urbanist", sans-serif;
 
}

/* Pagination নিচে ও centered */
.swiper-pagination {
  @apply relative flex justify-center  gap-1;
}

/* Default bullets অপসারণ বা কাস্টমাইজ */
.swiper-pagination-bullet {
  @apply w-3 h-3 bg-gray-400 opacity-50 rounded-full;
}

.swiper-pagination-bullet-active {
  @apply bg-[#A6C92E] opacity-100;
}